.nav-container{
    background-color: #23180d;
	position: sticky;
	top: 0;
	z-index: 100;

}
nav{
    height: 80px;
    align-items: center;
}
nav ul {
	margin-bottom: 0;
}
nav li {
	color: white;
	margin: 0 20px;
	text-decoration: none;
	position: relative;
	font-weight: 600;
	list-style: none;
	display: inline-block;
	cursor: pointer;
	transition: .3s;
}
nav li:hover{
	color: #ff8205;
}

nav li span {
	font-size: 12px;
	position: absolute;
	top: -12px;
	background: #ff8205;
	padding: 1px 7px;
	border-radius: 11px;
	right: -6px;
	color: white;
	transition: .3s;

}
nav li:hover span{
	color: #ff8205;
	background-color: white;
}